body {
    margin: 0;
}

.mainPage {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 20vw;
    position: fixed;
}

#albumCover {
    margin: calc((100vw / 5) / 25);
    height: 92%;
    width: auto;
}

#songTitle, #songArtists {
    height: calc((100vw / 5) / 2);
    width: calc((100vw / 5) * 4);
    margin-left: calc(100vw / 5);
    position: fixed;
    display: inline-flex;
    white-space: nowrap;
    font-family: Montserrat;
}

#songTitle {
    align-items: flex-end;
    color: white;
    font-size: 6vw;
}

#songArtists {
    margin-top: calc((100vw / 5) / 2);
    color: #b3b3b3;
    font-size: 4.7vw;
}

* {
    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}
  
.titlebar-button {
    -webkit-app-region: no-drag;
}

@font-face {
    font-family: Montserrat;
    src:url("./Fonts/Montserrat-Regular.ttf");
}