:root {
    --titleWidth: 50px;
    --artistsWidth: 50px;
}

body {
    margin: 0;
}

.mainPage {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 20vw;
    position: fixed;
}

#albumCover {
    margin: calc((100vw / 5) / 25);
    height: 92%;
    width: auto;
}

#textBoundaries {
    position: absolute;
    left: 20vw;
    width: 80vw;
    height: 20vw;
    overflow: hidden;
    white-space: nowrap;
}

.songTitle, .songArtists {
    position: absolute;
    display: inline-flex;
    font-family: Montserrat;
    height: 10vw;
}

.songTitle {
    align-items: flex-end;
    color: white;
    font-size: 6vw;
}

.songArtists {
    margin-top: 10vw;
    color: #b3b3b3;
    font-size: 4.7vw;
}

@keyframes periodicScrollTitle {
    0% {transform: translate3d(0, 0, 0);}
    20%, 100% {transform: translate3d(500px, 0, 0);}
}

@keyframes periodicScrollArtists {
    0% {transform: translate3d(0, 0, 0);}
    20%, 100% {transform: translate3d(500px, 0, 0);}
}

* {
    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}
  
.titlebar-button {
    -webkit-app-region: no-drag;
}

@font-face {
    font-family: Montserrat;
    src:url("./Fonts/Montserrat-Regular.ttf");
}