:root {
    --titleWidth: none;
    --artistsWidth: none;
}

body {
    margin: 0;
}

.mainPage {
    background-color: #131313;
    width: 100vw;
    height: calc(100vw / 6);
    position: fixed;
}

#albumCover {
    height: 100%;
    width: auto;
}

#textBoundaries {
    position: absolute;
    margin-left: 3vw;
    left: calc(100vw / 6);
    width: calc(100vw / 6 * 5);
    height: calc(100vw / 6);
    overflow: hidden;
    white-space: nowrap;
}

.songTitle, .songArtists {
    position: absolute;
    display: inline-flex;
    font-family: Montserrat;
    height: calc(100vw / 12);
}

.songTitle {
    align-items: flex-end;
    color: white;
    font-size: 6vw;
}

.songArtists {
    margin-top: calc(100vw / 12);
    color: #b3b3b3;
    font-size: 4.7vw;
}

@keyframes periodicScrollTitle {
    0% {transform: translate3d(0, 0, 0);}
    20%, 100% {transform: translate3d(var(--titleWidth), 0, 0);}
}

@keyframes periodicScrollArtists {
    0% {transform: translate3d(0, 0, 0);}
    20%, 100% {transform: translate3d(var(--artistsWidth), 0, 0);}
}

* {
    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}
  
.titlebar-button {
    -webkit-app-region: no-drag;
}

@font-face {
    font-family: Montserrat;
    src:url("./Fonts/Montserrat/Montserrat-Regular.ttf");
}